*{
    box-sizing: border-box;
}

body{
    background-image: url("../images/desktopbackground.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center; 
    width: auto;
    height: 100%;
    background-color:black;
    overflow-x: hidden;
    overflow-y: hidden;
}


h1{
    text-align:center;
    font-family: 'Orbitron', sans-serif;
}

#header{
    background-color:white;
    width:100%;
}

#container{
    margin-bottom:1px;
}

/* Selection Input */

#submit-answer{
    background-color:white;
    width: 100%;
    border:2px solid darkgray;
    margin:0px;
    
}
#input-description {
    width: 100%;
    min-height:30px;
    text-align:center;
    color:white;
    background-color:red;
    border:2px solid darkgray;
    margin:0px;

}
#userInput{
    height:100%; 
    width:99%;  
    color:white;
    text-align:center;
    margin:1px;
     
}

p{
    padding-top:4px;
}
form{
    position: fixed;
    width:219px;
    z-index:-2;
    margin-left: 4px;
    margin-bottom: 5px;
}

/* Player Information Divs */

#playerName{
  margin-bottom:5px;
  width: 100%;
  min-height:30px;
  text-align:center;
  color:white;
  background-color:red;
  border:2px solid darkgray;
  margin:0px;

}
#player{
    top:124px;
}



/* CSS for Images */

#facePlate1, #facePlate2, #posterPlate{
    position:relative;
    margin:0 3px;
    padding: 0px;
    height:auto;
    width:auto;
    z-index:2;
    }

#main, #main2, #main3{
    height:auto;
    max-height: 279px;
}

#firstActor, #secondActor, #posterPic{
    position: relative;
    top: -260.5px;
    left: 25px;
}

.gifControl{     
    border-radius: 9px;
    height:240px;
    width: 175px;
    padding:0;
    margin:0;    
    z-index:-1;
}

img{
    width:auto;  
}

/* Curtains & Animation  */

#curtainLeft{
    position: absolute;
    z-index: 3;
    top: 0;
    left: -1000px;
    animation-name: left;
    animation-duration: 2s;
}

@keyframes left {
    from {left: 0px;}
    to {left: -1000px;}
}

#curtainRight{
    position:absolute;
    z-index: 3;
    top:0;
    right:-1000px;
    animation-name:right;
    animation-duration: 2s;
}

@keyframes right {
    from {right: 0px;}
    to {right: -1000px;}
}

/* Media Queries */

@media screen  and (max-width: 1320px) {
    #facePlate1, #facePlate2, #posterPlate{
        height: 247.69px;
        width: 195.83px;

}
    form{
        width: 195.98px;
}

    #playerName{
        width: 195.98px;  
}
    #player{
        top:121px;
}  
    .gifControl{     
        height:217px;
        width: 158px;
}
    #firstActor, #secondActor, #posterPic{
        top: -234.5px;
        left: 22px;
}
   
} 
@media screen  and (max-width: 1276px){
    #main, #main2, #main3{
        max-height: 250px;
 }

 @media screen  and (max-width: 1182px){
    #facePlate1, #facePlate2, #posterPlate{
        height: 227.69px;
        width: 175.83px;

}
    form{
        width: 175.98px;
}

    #playerName{
        width: 175.98px;  
}
    #player{
        top:121px;
}  
    .gifControl{     
        height:194px;
        width: 143px;
}
    #firstActor, #secondActor, #posterPic{
        top: -215px;
        left: 20px;
}

    #main, #main2, #main3{
         max-height: 230px;   

}
@media screen  and (max-width: 1080px){

     #facePlate1, #facePlate2, #posterPlate{
        height: 222.69px;
        width: 170.83px;

}
    form{
        width: 170.98px;
        bottom:150px;
}

    #playerName{
        width: 170.98px;  
} 
    #player{
        top:115px;
}  
    .gifControl{     
        height:192.5px;
        width: 140px;
}
    #firstActor, #secondActor, #posterPic{
        top: -211px;
        left: 19px; 
}
    #main, #main2, #main3{
        max-height: 210px;
} 
    #header{
        position:relative;
        top:-15px;
}
@media screen  and (max-width: 692px){
    #facePlate1, #facePlate2, #posterPlate{
       height: 200.69px;
       width: 150.83px;
}

form{
    width: 150.98px;
    bottom:180px;
}

#playerName{
    width: 150.98px;  
} 

#player{
    top:115px;
} 

.gifControl{     
    height:192.5px;
    width: 140px;
}

#firstActor, #secondActor, #posterPic{
    top: -200px;
    left: 10px; 
}
#main, #main2, #main3{
    max-height: 210px;
}

 @media screen and (max-width: 600px){
body{
    background-image:url("../images/cellbackground.png")
}

#main,#main2, #main3{
    width:150px;
    height: 200px;
    margin:.5px auto;
    top:-15px;
    left:-90px;
    position:relative;
}
#header{
    transform:rotate(90deg);
    top:120px;
    right:-85px;
    max-width:500px;
    position:fixed;
}

#container{
    width: 160px;
}

form{
    width: 175.98px;
    right:15%;
    z-index:1;
}
#submit-answer, #userInput, #input-description {
    position:relative;
    bottom:-152px;
    height:30px;
}
#userInput{
    background-color:lightgray;
    
}

#playerName{
    width: 175.98px;  
} 
#player{
    top:470px;
} 
