*{
    box-sizing: border-box;
}
body{
    background-image: url("./desktopbackground.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: auto;
    background-color:black;
    overflow-x: hidden;
    overflow-y:hidden;
}
#curtainLeft{
    position: absolute;
    top:0;
    left: -1000px;
    height:100%;
    animation-name:left;
    animation-duration: 1.5s;
    z-index: 3;
}
@keyframes left {
    from {left: 0px;}
    to {left: -1000px;}
  }

#curtainRight{
    position:absolute;
    top:0;
    right:-1000px;
    animation-name:right;
    animation-duration: 1.5s;
    z-index: 3;
}
@keyframes right {
    from {right: 0px;}
    to {right: -1000px;}
  }
#directions{
    height: 500px;
    z-index:1;
    top: 10px;
    left: 175px;
    position:absolute;
    visibility:hidden;
}
#directionsButton{
    z-index:2;
    position:relative;
    left: 500px;
    bottom:-5px;
    font-size: 2em;
    padding:10px;
    border:2px solid darkgray;
    border-radius: 5px;

}



h1{
    text-align:center;
    /* font-family: 'Lobster', cursive; */
    font-family: 'Orbitron', sans-serif;

}

#header{
    background-color:white;
    width:100%;
}

#container{
    margin-bottom:1px;
}

/* Form */

#submit-answer{
    background-color:white;
    width: 100%;
    border:2px solid darkgray;
    /* border-radius: 5px; */
    margin:0px;
    
}
#input-description, #playerNames{
    width: 100%;
    min-height:30px;
    text-align:center;
    color:white;
    background-color:red;
    border:2px solid darkgray;
    margin:0px;

}
#userInput{
    height:100%; 
    width:100%;  
    color:white;
    text-align:center;
    margin:1px;
     
}

p{
    padding-top:4px;
}
form{
    position: fixed;
    width:219px;
    z-index:-2;
    margin-left: 4px;
    margin-top: 5px;
}

/* #playerNames{
    top:-20px
} */
#playerName{
    /* top:115px;
    right:568px; */
    /* position: fixed;
    width:219px;
    z-index:-2;
    margin-left: 4px;
    margin-top: 5px; */

}




/* CSS for Images */

#facePlate1, #facePlate2, #posterPlate{
    /* visibility:hidden; */
    position:relative;
    margin:0 3px;
    padding: 0px;
    height: 277.69px; 
    }
#main{
    height:auto;
    max-height: 279px;
}


#firstActor, #secondActor, #posterPic{
    position: relative;
    top: -259.5px;
    left: 25px;
}

.gifControl{     
    border-radius: 12px;
    height:234.5px;
    width: 175px;
    padding:0;
    margin:0;
    
    
}

img{
    width:auto;
    
    /* width: 98.5%; */
}

@media screen and (max-width: 600px){
    body{
        background-image:url("./cellbackground.png")}
} 